/* Global */
#about-screen {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries for mobile devices */
@media (max-width: 400px) {
}

/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */

/* Media queries for devices larger than mobile phones */
@media (min-width: 401px) {
  #about-screen {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
