/* Global */
/* Media queries for mobile devices */
@media (max-width: 400px) {
  #admin-feeds-list-screen {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */

/* Media queries for devices larger than mobile phones */
@media (min-width: 400px) {
  #admin-feeds-list-screen {
    padding-top: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
