/* Global */

/* mobile */
@media (max-width: 500px) {
  .each-feed-each-comment {
    margin: 1% auto;
  }

  .each-feed-each-comment p {
    margin: 0;
  }

  .each-feed-each-comment button {
    padding: 0;
  }

  .each-comment-container {
    max-height: 28vh;
    max-width: 44vh;
    word-wrap: break-word;
    overflow: auto;
  }

  .show-remaining-comment-text,
  .show-remaining-comment-text:active,
  .show-remaining-comment-text:focus {
    background: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .comment-input-area {
    border: 1px solid #aaa;

    width: 95%;
    margin: 0 auto 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
  }

  .comment-input-area input {
    border: 0;
    outline: 0;
    width: 90%;
    border-radius: 30px;
    padding-left: 4%;
  }

  .comment-input-area .ui.button {
    background: #fff;
    padding: 2%;
    color: #01b5ac;
    cursor: pointer;
  }

  .comment-input-area .ui.button:focus,
  .comment-input-area .ui.button:hover,
  .comment-input-area .ui.button:active {
    background: transparent;
    padding: 2%;
    color: #01b5ac;
    cursor: pointer;
  }

  .comment-input-area input:focus,
  .comment-input-area input:active {
    border: 0;
    outline: 0;
  }
}

/* Desktop */
@media (min-width: 501px) {
  .each-feed-comments-container {
    padding: 2%;
    border-left: 1px dotted #aaa;
    position: relative;
  }

  .each-comment-container {
    max-height: 58vh;
    max-width: 32vw;
    word-wrap: break-word;
    overflow: auto;
  }

  .each-feed-each-comment {
    margin: 1% auto;
  }

  .each-feed-each-comment p {
    margin: 0;
  }

  .each-feed-each-comment button {
    padding: 0;
  }

  .show-remaining-comment-text,
  .show-remaining-comment-text:active,
  .show-remaining-comment-text:focus {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .comment-input-area {
    border: 1px solid #aaa;
    right: 10px;
    bottom: 10px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    position: absolute;
  }

  .comment-input-area input {
    border: 0;
    outline: 0;
    width: 90%;
    border-radius: 30px;
    padding-left: 4%;
  }

  .comment-input-area .ui.button {
    background: transparent;
    padding: 2%;
    color: #01b5ac;
    cursor: pointer;
  }

  .comment-input-area .ui.button:focus,
  .comment-input-area .ui.button:hover,
  .comment-input-area .ui.button:active {
    background: transparent;
    padding: 2%;
    color: #01b5ac;
    cursor: pointer;
  }

  .comment-input-area input:focus,
  .comment-input-area input:active {
    border: 0;
    outline: 0;
  }
}
