/* Global */
.each-feed-each-comment {
  margin-bottom: 1vh;
}

.each-feed-each-comment p {
  margin: 0;
}

.show-remaining-comment-text {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 500px) {
}

/* Desktop */
@media (min-width: 501px) {
}
