/* Global */
.top-comments {
  padding: 1% 2% 1% 2%;
}

.split-line {
  border-bottom: 1px dotted #aaa;
  margin: 1vh auto;
  width: 90%;
}

.no-comments {
  display: flex;
  flex-direction: row;
}

/* Media queries for mobile device view */
@media (max-width: 500px) {
  .each-feed-screen {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 1vh;
  }

  .each-feed-comments-container {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 1.1rem;
    height: 50vh;
  }

  .each-feed-container .each-feed-details,
  .each-feed-container .each-feed-content-text {
    padding: 2%;
  }

  .each-feed-timestamp {
    padding-left: 2%;
  }

  .each-feed-details .each-feed-details-icon {
    margin: 0 1%;
  }

  .each-feed-details .each-feed-details-icon:first-child {
    margin-left: 0;
  }

  .each-feed-details .each-feed-details-icon:last-child {
    margin-right: 0;
  }
}

/* Media queries for desktop view */
@media (min-width: 501px) {
  button.ui.button {
    background: transparent;
    padding: 0;
    margin-left: 25vw;
  }

  .each-feed-screen {
    width: 100%;
    height: 100%;
    max-width: 50vw;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    display: flex;
    flex-direction: column;
  }

  .each-feed-container .each-feed-details,
  .each-feed-container .each-feed-content-text {
    padding: 2%;
  }

  .each-feed-container .each-feed-timestamp {
    padding-left: 2%;
  }

  .each-feed-details .each-feed-details-icon {
    margin: 0 1%;
  }

  .each-feed-details .each-feed-details-icon:first-child {
    margin-left: 0;
  }

  .each-feed-details .each-feed-details-icon:last-child {
    margin-right: 0;
  }
}
