/* Global */

.feed {
  height: 100%;
  margin: 1vh auto;
}

.user-details,
.user-details:hover {
  color: #01b5ac;
  text-decoration: none;
}

.feed-details-icon {
  color: #1b1c1d;
}

.feed-content-image {
  height: 100%;
}

/* Media queries for mobile device view */
@media (max-width: 500px) {
  .feed {
    width: 100vw;
    max-height: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 5vh 0;
  }

  .feed-container .feed-header,
  .feed-container .feed-details,
  .feed-container .feed-content-text,
  .feed-container .feed-footer {
    padding: 3%;
  }

  .feed-container .feed-header {
    text-align: center;
    padding: 3%;
  }

  .feed-container .feed-header .feed-header-poster .feed-header-poster-name {
    font-size: 1.2rem;
  }

  .feed-container .feed-header {
    padding: 2%;
  }

  .feed-details .feed-details-icon {
    margin: 0 1%;
    font-size: 0.5rem;
  }

  .feed-details .feed-details-icon:first-child {
    margin-left: 0;
  }

  .feed-details .feed-details-icon:last-child {
    margin-right: 0;
  }
}

/* Media queries for desktop view */
@media (min-width: 501px) {
  .feed {
    width: 100%;
    max-width: 600px;
    max-height: 700px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 5vh auto;
  }

  .feed-container .feed-header,
  .feed-container .feed-details,
  .feed-container .feed-content-text,
  .feed-container .feed-footer {
    padding: 2%;
  }

  .feed-container .feed-header {
    text-align: center;
    padding: 3%;
  }

  .feed-container .feed-header .feed-header-poster .feed-header-poster-name {
    font-size: 1.2rem;
  }

  .feed-details .feed-details-icon {
    margin: 0 1%;
  }

  .feed-details .feed-details-icon:first-child {
    margin-left: 0;
  }

  .feed-details .feed-details-icon:last-child {
    margin-right: 0;
  }
}
