/* Global */
.split-line {
  border-bottom: 1px dotted #aaa;
  margin: 2% auto;
  width: 90%;
}

/* Media queries for mobile devices */
@media (max-width: 500px) {
  div.feed-compact {
    padding: 0;
    margin: 0;
  }

  .feed-compact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    height: 160px;
  }

  .feed-compact-container .feed-compact-image,
  .feed-compact-container .feed-compact-content {
    flex: 5;
  }

  .feed-compact-container .feed-compact-content {
    padding-left: 2%;
  }

  .feed-compact-text {
    padding: 2%;
  }

  .feed-compact-footer {
    padding: 0 0 2% 2%;
  }

  .feed-compact-details {
    padding-left: 2%;
    padding-right: 2%;
  }

  .feed-compact-details i.icon.feed-details-icon {
    margin: 0 1%;
  }

  .feed-compact-details i.icon.feed-details-icon:first-child {
    margin-left: 0;
  }
}

#feed-compact-screen {
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */

/* Media queries for devices larger than mobile phones */
@media (min-width: 501px) {
  .feed-compact-screen .feed-compact {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }

  .feed-compact-container {
    display: flex;
    align-items: center;
  }

  .feed-compact-screen .feed-compact-image {
    width: 200px;
    margin-right: 2%;
    flex: 4;
  }

  .feed-compact-screen .feed-compact-image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .feed-compact-screen .feed-compact-content {
    flex: 6;
  }

  .feed-compact-content .feed-compact-poster,
  .feed-compact-content .feed-compact-text,
  .feed-compact-content .feed-compact-details {
    width: 100%;
    padding: 1%;
  }

  .feed-compact-content .feed-compact-text {
    padding-right: 3%;
  }

  .feed-compact-footer {
    padding-left: 1%;
  }

  .load-more-button {
    width: 10px;
    margin: 5% auto;
  }
}
