/* Global */
.user-details,
.user-details:hover {
  color: #01b5ac;
  text-decoration: none;
}

/* Media queries for mobile device view */
@media (max-width: 400px) {
  #feed.feed {
    width: 100vw;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 8% 0;
  }

  .feed-container .feed-header,
  .feed-container .feed-details,
  .feed-container .feed-content-text,
  .feed-container .feed-footer {
    padding: 3%;
  }

  .feed-container .feed-header {
    text-align: center;
    padding: 3%;
  }

  .feed-container .feed-header .feed-header-poster .feed-header-poster-name {
    font-size: 1.2rem;
  }

  .feed-container .feed-header {
    padding: 2%;
  }

  .feed-details .feed-details-icon {
    margin: 0 1%;
    font-size: 0.5rem;
  }

  .feed-details .feed-details-icon:first-child {
    margin-left: 0;
  }

  .feed-details .feed-details-icon:last-child {
    margin-right: 0;
  }
}

/* Media queries for desktop view */
@media (min-width: 401px) {
  #feed.feed {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 5% auto;
  }

  .feed-container .feed-header,
  .feed-container .feed-details,
  .feed-container .feed-content-text,
  .feed-container .feed-footer {
    padding: 2%;
  }

  .feed-container .feed-header {
    text-align: center;
    padding: 3%;
  }

  .feed-container .feed-header .feed-header-poster .feed-header-poster-name {
    font-size: 1.2rem;
  }

  .feed-details .feed-details-icon {
    margin: 0 1%;
  }

  .feed-details .feed-details-icon:first-child {
    margin-left: 0;
  }

  .feed-details .feed-details-icon:last-child {
    margin-right: 0;
  }
}
