@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-color: #01b5ac;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
}
