/* Global */
.feeds-change-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Media queries for mobile devices */
@media (max-width: 500px) {
  .feeds-change-view i {
    cursor: pointer;
  }

  .feeds-filter-dropdown div.menu.transition {
    left: -26vw;
  }
}

/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */
/* ****************** */

/* Media queries for devices larger than mobile phones */
@media (min-width: 501px) {
  .feeds-change-view {
    text-align: right;
    margin-right: 10%;
  }

  .feeds-change-view i {
    cursor: pointer;
  }

  .feeds-filter-dropdown div.menu.transition {
    left: -8vw;
  }
}
