/* Global */
.create-post-button {
  position: fixed;
  z-index: 100;
  bottom: 10vh;
  right: 10vw;
}

.create-post-button:active,
.create-post-button:focus {
  outline: 0;
  border: 0;
}

/* Mobile */
@media (max-width: 500px) {
}

/* Desktop */
@media (min-width: 501px) {
}
